.el-notification{
    .el-notification__content{
        text-align: inherit;
    }
}

.el-loading-mask{
    .el-loading-spinner{
        margin-top: -15px;
        .circular .path{
            stroke: black;
        }
        .el-icon-loading{
            color:  white;
        }
    }
}
    